{
  "extends": "stylelint-config-standard",
  "processors": [ "stylelint-processor-html" ],
  "rules": {
    "no-empty-source": null,
    "selector-type-no-unknown": [ true, {
      "ignore": ["custom-elements"]
    } ]
  }
}
