<dom-module id="brainy-table-cell-shared-styles">
  <template>
    <style>
      :host {
        flex: 1 0 100px;
        display: flex;
        padding: 0 24px;
        overflow: hidden;
        align-items: center;
        -webkit-font-smoothing: antialiased;
      }

      :host([is-first]) {
        border-left: 1px solid #e3e3e3;
      }

      :host([is-last]) {
        border-right: 1px solid #e3e3e3;
      }

      :host([hidden]) {
        display: none;
      }
    </style>
  </template>
</dom-module>
